
.cover:after {
    content: '';
    position: absolute;
    background-color: #775b9e3b;
    
  }
  
  .cover .cover-main>p:last-child a:first-child {
    color: white;
    background: #3d2562;
    border-color: transparent
  }
  
  .cover .cover-main>p:last-child a{
    color:white;
    background: #3d2562;
    border-color: transparent;
  }